
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  background: url("/img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container > .row {
  background-color: rgba(245, 248, 250, 0.9);
  padding: 15px;
  border-radius: 5px;
}

table img {
  max-height: 50px;
}
